<template name="InsertIssue">
  <h1>Create New Issue</h1>
  {{> quickForm collection="Issues" id="insertIssueForm" type="insert" omitFields="createdBy" buttonContent="Create"}}
</template>

<template name="EditIssue">
  <h1>Edit Issue</h1>
  {{> quickForm collection="Issues" doc=this id="editIssueForm" type="update" omitFields="createdBy" buttonContent="Update"}}
  <hr>
  {{> quickRemoveButton collection="Issues" _id=this._id beforeRemove=beforeRemove onSuccess=onSuccess class="btn btn-danger"}}
</template>

